
{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Connect Webservices",
    "description" : "Rest API Documentation",
    "contact" : {
      "email" : "purple@masternaut.com"
    },
    "license" : {
      "name" : "© 2017 Masternaut Limited",
      "url" : ""
    },
    "version" : "113.0.2509051139"
  },
  "servers" : [ {
    "url" : "https://api.masternautconnect.com/connect-webservices/services/public/v1",
    "description": "Product Server"
  },
{
    "url" : "https://int2-api.masternautconnect.com/connect-webservices/services",
    "description": "INT2 Server"
  }  
  ],
  "paths" : {
    "/public/v1/customer/{customerId}/alert/events" : {
      "post" : {
        "tags" : [ "/alert" ],
        "operationId" : "createAlertEvents",
        "summary" : "Create alert events",
        "description" : "Creates alert events for a customer.",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/AlertEventDto"
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/alert" ],
        "operationId" : "optionsCreateAlertEvents",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/alert/history/driver" : {
      "get" : {
        "tags" : [ "/alert" ],
        "operationId" : "getPersonAlertHistory",
        "summary" : "Get driver alert history",
        "description" : "Returns details of triggered alerts for a driver in the specified period.",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "excludeChildGroups",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberEmail",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberTelephone",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberWebUser",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enableSecondaryGroupAssignments",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "driverId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entityId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultAlertHistoryDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/alert" ],
        "operationId" : "optionsGetPersonAlertHistory",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/alert/history/vehicle" : {
      "get" : {
        "tags" : [ "/alert" ],
        "operationId" : "getVehicleAlertHistory",
        "summary" : "Get vehicle alert history",
        "description" : "Returns details of triggered alerts for a vehicle in the specified period.",
        "parameters" : [ {
          "name" : "customerId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "excludeChildGroups",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberEmail",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberTelephone",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberWebUser",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "enableSecondaryGroupAssignments",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "vehicleId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "entityId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultAlertHistoryDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/alert" ],
        "operationId" : "optionsGetVehicleAlertHistory",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/alert/search" : {
      "post" : {
        "tags" : [ "/alert" ],
        "operationId" : "searchAlerts",
        "summary" : "Search alerts",
        "description" : "Searches for alerts based on specified criteria.",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertSearchDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultAlertDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/alert" ],
        "operationId" : "optionsSearchAlerts",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/appshellmenu" : {
      "get" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "getAppShellMenus",
        "summary" : "Get app shell menus",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AppShellMenu"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "createAppShellMenu",
        "summary" : "Create app shell menu",
        "description" : "Creates a new app shell menu.",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppShellMenu"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppShellMenu"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "options",
        "summary" : "Options for app shell menu",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/appshellmenu/{key}" : {
      "get" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "getAppShellMenu",
        "summary" : "Get app shell menu details",
        "description" : "Returns details for a specific app shell menu.",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppShellMenu"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "updateAppShellMenu",
        "summary" : "Update app shell menu",
        "description" : "Updates an existing app shell menu.",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppShellMenu"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppShellMenu"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "deleteAppShellMenu",
        "summary" : "Delete app shell menu",
        "description" : "Deletes an app shell menu.",
        "parameters" : [ {
          "name" : "key",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "optionsDetail",
        "summary" : "Options for app shell menu details",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/appshellmenu/getSsoPartners" : {
      "get" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "getSsoPartners",
        "summary" : "Get SSO partners",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ThirdPartyDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/appshellmenu/structure" : {
      "get" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "getStructure",
        "summary" : "Get app shell menu structure",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AppShellMenuItem"
                  }
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "optionsStructure",
        "summary" : "Options for app shell menu structure",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/appshellmenu/{key}/feature/{featureId}" : {
      "post" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "linkAppShellMenu",
        "summary" : "Link app shell menu to feature",
        "description" : "Links an app shell menu to a specific feature.",
        "parameters" : [ {
          "name" : "featureId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/LinkAppShellMenuRequestDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MasternauthFeatureDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "optionsLinkAppShellMenu",
        "summary" : "Options for linking app shell menu",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/appshellmenu/feature/{featureId}" : {
      "delete" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "unlinkAppShellMenu",
        "summary" : "Unlink app shell menu from feature",
        "description" : "Unlinks an app shell menu from a feature.",
        "parameters" : [ {
          "name" : "featureId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MasternauthFeatureDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/appshellmenu" ],
        "operationId" : "optionsUnlinkAppShellMenu",
        "summary" : "Options for unlinking app shell menu",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/businesstravel/detail/driver" : {
      "get" : {
        "tags" : [ "/businesstravel" ],
        "operationId" : "getDriverDetails",
         "summary" : "Get driver business travel details",
        "description" : "Returns detailed business travel information for drivers.",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "vehicleIds",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "driverIds",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "classifications",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "dateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultTaxAndExpenseJourneyDetailResultDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/businesstravel" ],
        "operationId" : "optionsTaxAndExpenseJourneyDetailDriver",
        "summary" : "Options for driver business travel details",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/businesstravel/summary/driver" : {
      "get" : {
        "tags" : [ "/businesstravel" ],
        "operationId" : "getTaxAndExpenseJourneySummaryDriver",
        "summary" : "Get driver business travel summary",
        "description" : "Returns summary business travel information for drivers.",
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "classifications",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "driverIds",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "dateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxAndExpenseManagerSummaryResultDtoTaxAndExpenseJourneySummaryDriverResultDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/businesstravel" ],
        "operationId" : "optionsTaxAndExpenseJourneySummaryDriver",
        "summary" : "Options for driver business travel summary",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/businesstravel/summary/vehicle" : {
      "get" : {
        "tags" : [ "/businesstravel" ],
        "operationId" : "getTaxAndExpenseJourneySummaryVehicle",
        "summary" : "Get vehicle business travel summary",
        "description" : "Returns summary business travel information for vehicles.",
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "classifications",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "vehicleIds",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "dateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TaxAndExpenseManagerSummaryResultDtoTaxAndExpenseJourneySummaryVehicleResultDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/businesstravel" ],
        "operationId" : "optionsTaxAndExpenseJourneySummaryVehicle",
        "summary" : "Options for vehicle business travel summary",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/businesstravel/detail/vehicle" : {
      "get" : {
        "tags" : [ "/businesstravel" ],
        "operationId" : "getVehicleDetails",
        "summary" : "Get vehicle business travel details",
        "description" : "Returns detailed business travel information for vehicles.",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "vehicleIds",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "driverIds",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "classifications",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "dateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultTaxAndExpenseJourneyDetailResultDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/businesstravel" ],
        "operationId" : "optionsTaxAndExpenseJourneyDetailVehicle",
        "summary" : "Options for vehicle business travel details",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/device/{deviceId}" : {
      "post" : {
        "tags" : [ "/device" ],
        "operationId" : "createDeviceRegistration",
         "summary" : "Create device registration",
        "description" : "Creates a device registration for a customer.",
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeviceRegistrationDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceDetails"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/device/{deviceId}/batchposition" : {
      "post" : {
        "tags" : [ "/device" ],
        "operationId" : "managePositionData",
        "summary" : "Manage position data",
        "description" : "Manages batch position data for a device.",
        "parameters" : [ {
          "name" : "deviceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/DeviceTrackingFrame"
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driver/{driverId}/temporaryPrivacy" : {
      "post" : {
        "tags" : [ "/driver" ],
        "operationId" : "addTempPrivacy",
        "summary" : "Add temporary privacy",
        "description" : "Adds temporary privacy for a driver.",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[\\w]*$",
            "type" : "string"
          }
        }, {
          "name" : "duration",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "next",
            "enum" : [ "today", "next" ]
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "/driver" ],
        "operationId" : "removeTempPrivacy",
         "summary" : "Remove temporary privacy",
        "description" : "Removes temporary privacy for a driver.",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driver" : {
      "get" : {
        "tags" : [ "/driver" ],
        "summary" : "Get a paginated list of drivers based on input parameters",
        "description" : "<u><b>Parameters:</b></u>\n<ul><li><b>name</b> (String) : Name of driver. \n</li><li><b>groupId</b> (String) : Id of the group in hierarchy.\n</li><li><b>groupName</b> (String) : Name of the group in hierarchy\n</li><li><b>active</b> (Boolean) : If driver is active (true = active, false = inactive)\n</li><li><b>defaultVehicleId</b> (String) : Id of default vehicle id\n</li><li><b>keys</b> (List<String>) : Batches per page, default = 50.\n</li><li><b>pageIndex</b> (Integer) : Number of page, default = 0.\n</li><li><b>pageSize</b> (Integer) : Batches per page, default = 50.\n</li></ul>",
        "operationId" : "findDrivers",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupName",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "active",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "defaultVehicleId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "keys",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Drivers were successfully returned or empty if none of drivers fulfill criteria"
          },
          "400" : {
            "description" : "Missing validation such as groupIds."
          }
        }
      },
      "post" : {
        "tags" : [ "/driver" ],
        "summary" : "create given driver to the hierarchy node (drivers are removed from their current node).",
        "operationId" : "createDriver",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DriverDto"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Drivers were successfully created to the hierarchy node."
          },
          "400" : {
            "description" : "Missing validation such as groupIds."
          }
        }
      },
      "options" : {
        "tags" : [ "/driver" ],
        "operationId" : "optionsDriver",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driver/{driverId}" : {
      "get" : {
        "tags" : [ "/driver" ],
        "operationId" : "getDriver",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriverDto"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "/driver" ],
        "summary" : "update given driver to the hierarchy node (drivers are removed from their current node).",
        "operationId" : "updateDriver",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DriverDto"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Drivers were successfully created to the hierarchy node."
          },
          "400" : {
            "description" : "Missing validation such as groupIds."
          }
        }
      },
      "delete" : {
        "tags" : [ "/driver" ],
        "operationId" : "deleteDriver",
         "summary" : "Delete driver",
        "description" : "DELETE request to delete a driver that matches the driverId.",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/driver" ],
        "operationId" : "optionsOneDriver",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driver/{driverId}/enableAsUser" : {
      "post" : {
        "tags" : [ "/driver" ],
        "operationId" : "enableAsUser",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UserCreateResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driver/{driverId}/vehicle" : {
      "get" : {
        "tags" : [ "/driver" ],
        "operationId" : "getAssignedVehicle",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "en-GB"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssignedVehicleDto"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "/driver" ],
        "operationId" : "unlinkDefaultVehicle",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriverDto"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driver/{driverId}/userInvitation" : {
      "post" : {
        "tags" : [ "/driver" ],
        "operationId" : "inviteAsWebUser",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UserInvitationDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MasternauthUserInvitationBulkResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driver/{driverId}/vehicle/{vehicleId}" : {
      "post" : {
        "tags" : [ "/driver" ],
        "operationId" : "linkVehicle",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vehicleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriverDto"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "/driver" ],
        "operationId" : "unlinkVehicle",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vehicleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DriverDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/driver" ],
        "operationId" : "optionsLinkDriverVehicle",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driver/{driverId}/vehicle/{vehicleId}/temporary" : {
      "post" : {
        "tags" : [ "/driver" ],
        "operationId" : "linkVehicleTemp",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[\\w]*$",
            "type" : "string"
          }
        }, {
          "name" : "vehicleId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[\\w]*$",
            "type" : "string"
          }
        }, {
          "name" : "duration",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "next",
            "enum" : [ "today", "next" ]
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driver/{driverId}/vehicle/temporary" : {
      "delete" : {
        "tags" : [ "/driver" ],
        "operationId" : "unlinkVehicleTemp",
        "parameters" : [ {
          "name" : "driverId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driverbehaviourmetrics/rankings/group" : {
      "post" : {
        "tags" : [ "customers" ],
        "operationId" : "calculateDriverBehaviourMetricsRankingsForGroup",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DriverBehaviourPersonMetricsRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BehaviourMetricPersonRankingDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driverbehaviourmetrics/vehicle/summary" : {
      "get" : {
        "tags" : [ "customers" ],
        "operationId" : "getSummaryByAsset",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "driverId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vehicleId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultDrivingBehaviourSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driverbehaviourmetrics/driver/summary" : {
      "get" : {
        "tags" : [ "customers" ],
        "operationId" : "getSummaryByPerson",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "driverId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vehicleId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultDrivingBehaviourSummaryDto"
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driverbehaviourmetrics/group" : {
      "post" : {
        "tags" : [ "customers" ],
        "operationId" : "metricsForGroup",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupBehaviourMetricRequestDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BehaviourMetricDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/driverbehaviourmetrics" : {
      "post" : {
        "tags" : [ "customers" ],
        "operationId" : "metricsForPerson",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DriverBehaviourMetricRequestDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BehaviourMetricDailyDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/driverbehaviourmetrics/rankings/group" : {
      "post" : {
        "tags" : [ "/driverbehaviourmetrics" ],
        "operationId" : "calculateDriverBehaviourMetricsRankingsForGroup_1",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/DriverBehaviourPersonMetricsRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BehaviourMetricPersonRankingDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/driverbehaviourmetrics/group" : {
      "post" : {
        "tags" : [ "/driverbehaviourmetrics" ],
        "operationId" : "metricsForGroup_1",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/BehaviourMetricRequestDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BehaviourMetricDto"
                  }
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/driverbehaviourmetrics" ],
        "operationId" : "optionsMetricsForGroup",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/ecoscore/driver" : {
      "get" : {
        "tags" : [ "/ecoscore" ],
        "operationId" : "getEcoScoreDriver",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driverId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EcoScorePersonResponseDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/ecoscore" ],
        "operationId" : "optionsEcoScoreDriver",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/ecoscore/event/driver" : {
      "get" : {
        "tags" : [ "/ecoscore" ],
        "operationId" : "getEcoScoreEventDriver",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "dateType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventFilter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "driverId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DriverBehaviourEventDateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultEcoScoreEventResponseDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/ecoscore" ],
        "operationId" : "optionsEcoScoreEventDriver",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/ecoscore/event/vehicle" : {
      "get" : {
        "tags" : [ "/ecoscore" ],
        "operationId" : "getEcoScoreEventVehicle",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "dateType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eventFilter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vehicleId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DriverBehaviourEventDateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultEcoScoreEventResponseDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/ecoscore" ],
        "operationId" : "optionsEcoScoreEventVehicle",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/ecoscore/vehicle" : {
      "get" : {
        "tags" : [ "/ecoscore" ],
        "operationId" : "getEcoScoreVehicle",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vehicleId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "dateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EcoScoreVehicleResponseDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/ecoscore" ],
        "operationId" : "optionsEcoScoreVehicle",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/ecoscore/event/vehicle/latest" : {
      "get" : {
        "tags" : [ "/ecoscore" ],
        "summary" : "Returns the vehicle score driving events that occurred/were modified after a specified \nmodifiedSinceDate date.\n<u><b>Parameters:</b></u>\n<ul><li><b>modifiedSinceDate</b> (Date) : Only events occurring or modified after this date will be returned. This field is mandatory. Users can calculate this value by taking the maximum lastModifiedTime field from previous invocations of this endpoint or the '/event/vehicle' endpoint.\n</li><li><b>vehicleId</b> (String) : Id of vehicle used for filtering. @Visible validation, mandatory if 'groupId' is not provided, but cannot be both filled\n</li><li><b>groupId</b> (String) : Id of Group used for filtering. @Visible validation, mandatory if 'vehicleId' is not provided, but cannot be both filled\n</li><li><b>eventFilter</b> (String)  : Optional event type corresponding to one of IncidentType enumeration values: RPM, HARSH_BRAKING, HARSH_ACCELERATION, HARSH_CORNERING, SPEEDING, IDLING_INSIDE_BASE, IDLING_OUTSIDE_BASE</li></ul>",
        "operationId" : "getLatestEcoScoreEventVehicle",
        "parameters" : [ {
          "name" : "vehicleId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "modifiedSinceDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "eventFilter",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of vehicle score driving events that occurred or were modified after the specified date",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LatestEcoScoreEventDetailsVehicleDto"
                }
              }
            }
          },
          "400" : {
            "description" : "When VehicleId or GroupId is not provided. Message is: 'One of following properties [VehicleId, GroupId] can not be null'\n\tWhen both VehicleId or GroupId are provided. Message is: 'One of following properties [VehicleId, GroupId] must be null'\n\tWhen given property, VehicleId or GroupId, are not visible for current User. Message is: 'Resource not visible to User'"
          }
        }
      }
    },
    "/public/v1/ecodrive/driversScore" : {
      "get" : {
        "tags" : [ "/ecodrive" ],
        "operationId" : "getEcodriveDriversScore",
        "parameters" : [ {
          "name" : "date",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "userTimezone",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "schema" : {
            "type" : "object",
            "properties" : {
              "language" : {
                "type" : "string"
              },
              "displayName" : {
                "type" : "string"
              },
              "country" : {
                "type" : "string"
              },
              "variant" : {
                "type" : "string"
              },
              "script" : {
                "type" : "string"
              },
              "unicodeLocaleAttributes" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "unicodeLocaleKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "displayLanguage" : {
                "type" : "string"
              },
              "displayScript" : {
                "type" : "string"
              },
              "displayCountry" : {
                "type" : "string"
              },
              "displayVariant" : {
                "type" : "string"
              },
              "extensionKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "iso3Language" : {
                "type" : "string"
              },
              "iso3Country" : {
                "type" : "string"
              }
            }
          }
        }, {
          "name" : "days",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "weeks",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "months",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EcodriveDriversScoreResultDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/ecodrive" ],
        "operationId" : "optionsEcodriveDriversScore",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/ecodrive/summary" : {
      "get" : {
        "tags" : [ "/ecodrive" ],
        "operationId" : "getEcodriveSummary",
        "parameters" : [ {
          "name" : "date",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "userTimezone",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locale",
          "in" : "query",
          "schema" : {
            "type" : "object",
            "properties" : {
              "language" : {
                "type" : "string"
              },
              "displayName" : {
                "type" : "string"
              },
              "country" : {
                "type" : "string"
              },
              "variant" : {
                "type" : "string"
              },
              "script" : {
                "type" : "string"
              },
              "unicodeLocaleAttributes" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "unicodeLocaleKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "displayLanguage" : {
                "type" : "string"
              },
              "displayScript" : {
                "type" : "string"
              },
              "displayCountry" : {
                "type" : "string"
              },
              "displayVariant" : {
                "type" : "string"
              },
              "extensionKeys" : {
                "uniqueItems" : true,
                "type" : "array",
                "items" : {
                  "type" : "string"
                }
              },
              "iso3Language" : {
                "type" : "string"
              },
              "iso3Country" : {
                "type" : "string"
              }
            }
          }
        }, {
          "name" : "days",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "weeks",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "months",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "maxJourneySummaries",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EcodriveSummaryResultDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/ecodrive" ],
        "operationId" : "optionsEcodriveSummary",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/ecodrive/summary/driver/triggerEmail" : {
      "post" : {
        "tags" : [ "/ecodrive" ],
        "operationId" : "triggerEcoDriveSummaryToPerson",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/TriggerEcodriveSummaryRequestDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/eventTypes" : {
      "get" : {
        "tags" : [ "/eventTypes" ],
        "operationId" : "getEventTypes",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultEventTypeDto"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "/eventTypes" ],
        "operationId" : "createEventType",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventTypeDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventTypeDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/eventTypes" ],
        "operationId" : "optionsEventTypes",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/eventTypes/{eventKey}" : {
      "get" : {
        "tags" : [ "/eventTypes" ],
        "operationId" : "getEventType",
        "parameters" : [ {
          "name" : "eventKey",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventTypeDto"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "/eventTypes" ],
        "operationId" : "updateEventType",
        "parameters" : [ {
          "name" : "eventKey",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/EventTypeDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EventTypeDto"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "/eventTypes" ],
        "operationId" : "deleteEventType",
        "parameters" : [ {
          "name" : "eventKey",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/eventTypes" ],
        "operationId" : "optionsEventType",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/expenseSummary/cancel" : {
      "post" : {
        "tags" : [ "/expenseSummary" ],
        "operationId" : "cancelUnapprovedExpenseSummaries",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpenseSummariesCancelRequestDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExpenseSummariesCancelResponseDto"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/expenseSummary" ],
        "operationId" : "optionsForCancelPath",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/expenseSummary/search" : {
      "post" : {
        "tags" : [ "/expenseSummary" ],
        "operationId" : "findExpenseSummaries",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExpenseSummaryRequestDto"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ExpenseSummaryResultDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/expenseSummary" : {
      "options" : {
        "tags" : [ "/expenseSummary" ],
        "operationId" : "optionsPersonSettings",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/fuel/driver" : {
      "get" : {
        "tags" : [ "/fuel" ],
        "operationId" : "getDriverVehicleConsumptions",
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "driverId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startDateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DriverVehicleConsumptionResultDto"
                  }
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/fuel" ],
        "operationId" : "optionsDriverVehicleConsumptions",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/fuel/vehicle" : {
      "get" : {
        "tags" : [ "/fuel" ],
        "operationId" : "getVehicleConsumptions",
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "vehicleId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "startDateRange",
          "in" : "query",
          "schema" : {
            "$ref" : "#/components/schemas/DateRange"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/VehicleConsumptionResultDto"
                  }
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/fuel" ],
        "operationId" : "optionsVehicleConsumptions",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/fuelEvents/fuelTransactions" : {
      "get" : {
        "tags" : [ "/fuelEvents" ],
        "operationId" : "findFuelTransactionsForVehicles",
        "parameters" : [ {
          "name" : "pageIndex",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageSize",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "startDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "endDate",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "vehicleId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeUnmatchedVehicles",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeMatchedVehicles",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WithPaginationResultFuelTransactionDTO"
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/fuelEvents" ],
        "operationId" : "optionsFuelTransactions",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/group" : {
      "get" : {
        "tags" : [ "/group" ],
        "summary" : "Returns all groups visible to request context",
        "description" : "Endpoint fetches all groups from user context and counts how many drivers and vehicles has each group assigned",
        "operationId" : "getAllGroups",
        "responses" : {
          "200" : {
            "description" : "List of Groups visible to request context with counts of drivers and vehicles",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/GroupSearchResultDto"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "/group" ],
        "summary" : "Updates existing group.",
        "description" : "Based on body, endpoint updates existing group. Following properties can be updated: node name, persons and vehicles assigned to group, parent of group / node. If update run successfully it returns 200 with updated Group. Else if node has not been found it returns 400. Else if newly selected name for group is already taken or new parent group is one of the direct / indirect descendants it returns 409 - Conflict",
        "operationId" : "updateGroup",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupDto"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Updated group.",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupDto"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request. When id is incorrect and group is not visible to user or is blank or doesn't fit for selected size.\nWhen name doesn't fit for selected size.\nWhen parentId is not visible to user\nWhen personIds or vehicleIds are not visible to user",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApiErrorDto"
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict message, when group name is already taken by another group or when parentId is ID of group which is currently one of group descendants.",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApiErrorDto"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "/group" ],
        "summary" : "Creates new group",
        "description" : "Based on the request body endpoint creates new group and it returns newly created group / hierarchy node. If group exists with same name as body holds it returns 400 code with message that node with group name already exists",
        "operationId" : "createGroup",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/GroupQueryDto"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Newly created group",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GroupDto"
                }
              }
            }
          },
          "400" : {
            "description" : "When name is blank or size name does not fit.\nWhen size parentId does not fit or it does not match pattern or it isn't visible for user.",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApiErrorDto"
                  }
                }
              }
            }
          }
        }
      },
      "options" : {
        "tags" : [ "/group" ],
        "operationId" : "optionsGroup",
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8" : { }
            }
          }
        }
      }
    },
    "/public/v1/customer/{customerId}/group/{nodeId}" : {
      "delete" : {
        "tags" : [ "/group" ],
        "summary" : "Deletes group",
        "description" : "Endpoint deletes the group / hierarchy node when following conditions are true: group exists, is not customer (root) node, is allowed to be deleted, group / node hasn't assigned any vehicle or person and it does not have any children group. If it deletes it returns 200 code if not either 400 or 409",
        "operationId" : "deleteGroup",
        "parameters" : [ {
          "name" : "nodeId",
          "in" : "path",
          "description" : "ID of group to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "groupID"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - group has been deleted",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "entity" : {
                      "type" : "object"
                    },
                    "length" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "location" : {
                      "type" : "string",
                      "format" : "uri"
                    },
                    "language" : {
                      "type" : "object",
                      "properties" : {
                        "language" : {
                          "type" : "string"
                        },
                        "displayName" : {
                          "type" : "string"
                        },
                        "country" : {
                          "type" : "string"
                        },
                        "variant" : {
                          "type" : "string"
                        },
                        "script" : {
                          "type" : "string"
                        },
                        "unicodeLocaleAttributes" : {
                          "uniqueItems" : true,
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "unicodeLocaleKeys" : {
                          "uniqueItems" : true,
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "displayLanguage" : {
                          "type" : "string"
                        },
                        "displayScript" : {
                          "type" : "string"
                        },
                        "displayCountry" : {
                          "type" : "string"
                        },
                        "displayVariant" : {
                          "type" : "string"
                        },
                        "extensionKeys" : {
                          "uniqueItems" : true,
                          "type" : "array",
                          "items" : {
                            "type" : "string"
                          }
                        },
                        "iso3Language" : {
                          "type" : "string"
                        },
                        "iso3Country" : {
                          "type" : "string"
                        }
                      }
                    },
                    "date" : {
                      "type" : "string",
                      "format" : "date-time"
                    },
                    "lastModified" : {
                      "type" : "string",
                      "format" : "date-time"
                    },
                    "headers" : {
                      "type" : "object",
                      "properties" : {
                        "empty" : {
                          "type" : "boolean"
                        }
                      },
                      "additionalProperties" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object"
                        }
                      }
                    },
                    "cookies" : {
                      "type" : "object",
                      "additionalProperties" : {
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string"
                          },
                          "value" : {
                            "type" : "string"
                          },
                          "version" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "path" : {
                            "type" : "string"
                          },
                          "domain" : {
                            "type" : "string"
                          },
                          "comment" : {
                            "type" : "string"
                          },
                          "maxAge" : {
                            "type" : "integer",
                            "format" : "int32"
                          },
                          "expiry" : {
                            "type" : "string",
                            "format" : "date-time"
                          },
                          "secure" : {
                            "type" : "boolean"
                          },
                          "httpOnly" : {
                            "type" : "boolean"
                          }
                        }
                      }
                    },
                    "status" : {
                      "type" : "integer",
                      "format" : "int32"
                    },
                    "metadata" : {
                      "type" : "object",
                      "properties" : {
                        "empty" : {
                          "type" : "boolean"
                        }
                      },
                      "additionalProperties" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object"
                        }
                      }
                    },
                    "statusInfo" : {
                      "type" : "object",
                      "properties" : {
                        "family" : {
                          "type" : "string",
                          "enum" : [ "INFORMATIONAL", "SUCCESSFUL", "REDIRECTION", "CLIENT_ERROR", "SERVER_ERROR", "OTHER" ]
                        },
                        "statusCode" : {
                          "type" : "integer",
                          "format" : "int32"
                        },
                        "reasonPhrase" : {
                          "type" : "string"
                        }
                      }
                    },
                    "allowedMethods" : {
                      "uniqueItems" : true,
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "stringHeaders" : {
                      "type" : "object",
                      "properties" : {
                        "empty" : {
                          "type" : "boolean"
                        }
                      },
                      "additionalProperties" : {
                        "type" : "array",
                        "items" : {
                          "type" : "string"
                        }
                      }
                    },
                    "mediaType" : {
                      "type" : "object",
                      "properties" : {
                        "type" : {
                          "type" : "string"
                        },
                        "subtype" : {
                          "type" : "string"
                        },
                        "parameters" : {
                          "type" : "object",
                          "additionalProperties" : {
                            "type" : "string"
                          }
                        },
                        "wildcardType" : {
                          "type" : "boolean"
                        },
                        "wildcardSubtype" : {
                          "type" : "boolean"
                        }
                      }
                    },
                    "entityTag" : {
                      "type" : "object",
                      "properties" : {
                        "value" : {
                          "type" : "string"
                        },
                        "weak" : {
                          "type" : "boolean"
                        }
                      }
                    },
                    "links" : {
                      "uniqueItems" : true,
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "uri" : {
                            "type" : "string",
                            "format" : "uri"
                          },
                          "type" : {
                            "type" : "string"
                          },
                          "params" : {
                            "type" : "object",
                            "additionalProperties" : {
                              "type" : "string"
                            }
                          },
                          "title" : {
                            "type" : "string"
                          },
                          "uriBuilder" : {
                            "type" : "object"
                          },
                          "rel" : {
                            "type" : "string"
                          },
                          "rels" : {
                            "type" : "array",
                            "items" : {
                              "type" : "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400" : {
[...]
