{
  "openapi": "3.0.1",
  "info": {
    "title": "My Connected Fleet API",
    "description": "Rest API Documentation",
    "contact": {
      "email": "purple@masternaut.com"
    },
    "license": {
      "name": "© 2017 Masternaut Limited",
      "url": ""
    },
    "version": "113.0.2509051139"
  },
  "servers": [
    {
      "url": "https://api.masternautconnect.com/connect-webservices/services/public/v1",
      "description": "Product Server"
    },
    {
      "url": "https://int2-api.masternautconnect.com/connect-webservices/services",
      "description": "INT2 Server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  
  "tags": [
    {
      "name": "/tracking/live",
      "description": "Live tracking operations"
    },
    {
      "name": "/group",
      "description": "Group management operations"
    },
    {
      "name": "/location",
      "description": "Location management operations"
    },
    {
      "name": "/location/category",
      "description": "Location category management operations"
    },
    {
      "name": "/vehicle",
      "description": "Vehicle management operations"
    },
    {
      "name": "/driver",
      "description": "Driver management operations"
    },
    {
      "name": "/role",
      "description": "Role management operations"
    },
    {
      "name": "/user",
      "description": "User management operations"
    },
    {
      "name": "/utilisation",
      "description": "Utilisation and hours tracking operations"
    },
    {
      "name": "/tracking/journey",
      "description": "Journey tracking and management operations"
    },
    {
      "name": "/journey/detail",
      "description": "Journey detail operations with vehicle and driver perspectives"
    },
    {
      "name": "/tracking/history",
      "description": "Tracking history operations for vehicles and drivers"
    },
    {
      "name": "/input",
      "description": "Input usage operations for vehicles and drivers"
    },
    {
      "name": "/speeding",
      "description": "Speeding episode operations for vehicles and drivers"
    },
    {
      "name": "/idling",
      "description": "Idling activity block operations for vehicles and drivers"
    },
    {
      "name": "/driverbehaviourmetrics",
      "description": "Driver behaviour metrics and summary operations"
    },
    {
      "name": "/fuel",
      "description": "Vehicle and driver fuel consumption operations"
    },
    {
      "name": "/ecoscore",
      "description": "EcoScore vehicle and driver scoring and events operations"
    },
    {
      "name": "/fuelEvents",
      "description": "Fuel events and transactions operations"
    },
    {
      "name": "/businessTravel",
      "description": "Business travel journey tracking and expense reporting operations"
    },
    {
      "name": "/alert",
      "description": "Alert history and notification management operations"
    }
  ],
  "paths": {
    "/customer/{customerId}/tracking/live": {
      "get": {
        "tags": [
          "/tracking/live"
        ],
        "summary": "Live Position MDX",
        "x-mint": {
          "content": "Returns the live position and status for a resource (driver or vehicle). The live position for a vehicle on a private journey is not returned. <br>By default vehicles which have a status of SOLD are not included in the response.<note>Request Limit: The request limit on this endpoint is one request every 15 seconds.</note>"
        },
        "operationId": "getLiveStatus",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleIds",
            "in": "query",
            "description": "Comma separated list of vehicle identifiers used for filtering.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Comma separated list of group identifiers used for filtering.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "driverIds",
            "in": "query",
            "description": "Comma separated list of driver identifiers used for filtering.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Start date used for filtering.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAllVehicleStatus",
            "in": "query",
            "description": "By default, vehicles with a status of SOLD are excluded. Set to TRUE to get details of all vehicles.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale used for language.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hideSpeedIfSpeedSensitive",
            "in": "query",
            "description": "By default the vehicle's speed is included. Set to TRUE exclude speed if either the vehicle's or driver's group is speed sensitive.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live position data successfully returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrackingLiveResultDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "When multiple filter option are filled in (vehicleIds and groupIds OR vehicleIds and driverIds OR driverIds and groupIds). When filtering field contains id of resource which is not visible to user. Message is: 'fieldName: Invalid value [value] => Resource not visible to User'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - request limit exceeded"
          }
        }
      }
    },
    "/customer/{customerId}/tracking/live/geojson": {
      "get": {
        "tags": [
          "/tracking/live"
        ],
        "summary": "Live Position GeoJSON",
        "description": "Gives detailed tracking inputs starting with the most recent entry based on filtering. Produces GeoJSON format response.",
        "operationId": "getLiveStatusAsGeoJson",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleIds",
            "in": "query",
            "description": "Id(s) of the vehicle used for filtering the vehicle live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Id(s) of the group used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "driverIds",
            "in": "query",
            "description": "Id(s) of the driver used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Start date used for filtering.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAllVehicleStatus",
            "in": "query",
            "description": "Show status of all vehicles, default = FALSE.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale used for language.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hideSpeedIfSpeedSensitive",
            "in": "query",
            "description": "Hide speed from results if results are speed sensitive, default = FALSE.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracking inputs in GeoJSON format",
            "content": {
              "application/geo+json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "When multiple filter option are filled in or resource not visible to user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/tracking/live/latest": {
      "get": {
        "tags": [
          "/tracking/live"
        ],
        "summary": "Live Position Latest",
        "description": "Returns the live position and status for a resource (driver or vehicle). This endpoint can be used to return details for only those vehicles where tracking data has been processed since a specified processed date/time.",
        "operationId": "getLatestLiveStatus",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleIds",
            "in": "query",
            "description": "Id(s) of the vehicle used for filtering the vehicle live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Id(s) of the group used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "driverIds",
            "in": "query",
            "description": "Id(s) of the driver used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Start date used for filtering.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAllVehicleStatus",
            "in": "query",
            "description": "Show status of all vehicles, default = FALSE.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale used for language.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hideSpeedIfSpeedSensitive",
            "in": "query",
            "description": "Hide speed from results if results are speed sensitive, default = FALSE.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest live position data successfully returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestTrackingLiveResultsDto"
                }
              }
            }
          },
          "400": {
            "description": "fromDateTime is more than one day in the past or is a future date, or multiple filter options provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/tracking/live/latest/geojson": {
      "get": {
        "tags": [
          "/tracking/live"
        ],
        "summary": "Latest Live Position GeoJSON",
        "description": "Fetches latest detailed tracking inputs with pagination and starting with the most recent entry based on filtering. Produces GeoJSON format response.",
        "operationId": "getLatestLiveStatusAsGeoJson",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleIds",
            "in": "query",
            "description": "Id(s) of the vehicle used for filtering the vehicle live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Id(s) of the group used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "driverIds",
            "in": "query",
            "description": "Id(s) of the driver used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Start date used for filtering. Date must be less than one day ago.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAllVehicleStatus",
            "in": "query",
            "description": "Show status of all vehicles, default = FALSE.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale used for language.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hideSpeedIfSpeedSensitive",
            "in": "query",
            "description": "Hide speed from results if results are speed sensitive, default = FALSE.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest tracking inputs in GeoJSON format",
            "content": {
              "application/geo+json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "When multiple filter option are filled in or resource not visible to user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/tracking/live/aemp": {
      "get": {
        "tags": [
          "/tracking/live"
        ],
        "summary": "Live Position AEMP",
        "description": "Returns the live position and status for all vehicles in AEMP XML format. Request Limit: The request limit on this endpoint is one request every 15 seconds.",
        "operationId": "getLiveStatusAemp",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleIds",
            "in": "query",
            "description": "Id(s) of the vehicle used for filtering the vehicle live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Id(s) of the group used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "driverIds",
            "in": "query",
            "description": "Id(s) of the driver used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Start date used for filtering.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAllVehicleStatus",
            "in": "query",
            "description": "Show status of all vehicles, default = FALSE.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale used for language.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live position data successfully returned in AEMP XML format",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Fleet"
                }
              }
            }
          },
          "400": {
            "description": "When multiple filter option are filled in or resource not visible to user",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - request limit exceeded"
          }
        }
      }
    },
    "/customer/{customerId}/tracking/live/latest/aemp": {
      "get": {
        "tags": [
          "/tracking/live"
        ],
        "summary": "Live Position Latest AEMP",
        "description": "Returns the latest live position and status for a vehicle in AEMP format. Request Limit: The request limit on this endpoint is one request every 15 seconds.",
        "operationId": "getLatestLiveStatusAemp",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleIds",
            "in": "query",
            "description": "Id(s) of the vehicle used for filtering the vehicle live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Id(s) of the group used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "driverIds",
            "in": "query",
            "description": "Id(s) of the driver used for filtering the live position response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "description": "Start date used for filtering.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showAllVehicleStatus",
            "in": "query",
            "description": "Show status of all vehicles, default = FALSE.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Locale used for language.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest live position data successfully returned in AEMP XML format",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Fleet"
                }
              }
            }
          },
          "400": {
            "description": "fromDateTime is more than one day in the past or is a future date, or multiple filter options provided",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - request limit exceeded"
          }
        }
      }
    },
    "/customer/{customerId}/tracking/live/inputEvents": {
      "get": {
        "tags": [
          "/tracking/live"
        ],
        "summary": "Latest Input Events Live Status",
        "description": "Fetches latest detailed tracking inputs with pagination and starting with the most recent entry based on filtering.",
        "operationId": "getLatestInputEventsLiveStatus",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of most recent detailed tracking inputs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LatestTrackingInputEventsResultsDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/utilisation/vehicle": {
      "get": {
        "tags": [
          "/utilisation"
        ],
        "summary": "Vehicle Utilisation Hours",
        "description": "Returns summary utilisation information for a vehicle for all journeys where the journey started in the period. The end date of the journey does not have to be within the period. If the vehicle has been configured for a PTO, then driving and idling time with PTO active and with PTO inactive are included in the response. Details for private journeys that started in the period are included in the utilisation values. If vehicleId or groupId is not specified, then details for all vehicles are returned. If groupId is specified, then the utilisation for all vehicles in the specified group are included in the output. Either vehicleId or groupId can be specified as an input parameter, an error is returned if both are specified.",
        "operationId": "getVehicleUtilisation",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date and time for the period, in UTC, in the format of YYYY-MM-DDThh:mm:ssstartDate=2014-03-20T00:00:00",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date and time for the period, in UTC, in the format of YYYY-MM-DDThh:mm:ss. The end date cannot be before the startDate.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "vehicleId",
            "in": "query",
            "description": "Identifier of a vehicle (alphanumeric)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Identifier of a group (alphanumeric)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle utilisation data successfully returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilisationVehicleResultDto"
                }
              }
            }
          },
          "400": {
            "description": "When both vehicleId and groupId are specified, or when filtering field contains id of resource which is not visible to user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          },
          "404": {
            "description": "No utilisation data found for the specified criteria"
          }
        }
      }
    },
    "/customer/{customerId}/utilisation/driver": {
      "get": {
        "tags": [
          "/utilisation"
        ],
        "summary": "Driver Utilisation Hours",
        "description": "Returns summary utilisation information for a driver for all journeys where the journey started in the specified period. The end date of the journey does not have to be within the period. If the vehicle driven by the driver has been configured for a PTO, then driving and idling time with PTO active and with PTO inactive are included in the response. Details for private journeys that started in the period are included in the utilisation values. If driverId or groupId is not specified, then details for all drivers are returned. If groupId is specified, then the utilisation for all drivers in the specified group are included in the output. Either driverId or groupId can be specified as an input parameter, an error is returned if both are specified.",
        "operationId": "getDriverUtilisation",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date and time for the period, in UTC, in the format of YYYY-MM-DDThh:mm:ss.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date and time for the period, in UTC, in the format of YYYY-MM-DDThh:mm:ss. The end date cannot be before the startDate.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "driverId",
            "in": "query",
            "description": "Identifier (alphanumeric) of a driver. Must be specified if a value for groupId has not been specified.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Identifier (alphanumeric) of a group.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Driver utilisation data successfully returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UtilisationDriverResultDto"
                }
              }
            }
          },
          "400": {
            "description": "When both driverId and groupId are specified, or when filtering field contains id of resource which is not visible to user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          },
          "404": {
            "description": "No utilisation data found for the specified criteria"
          }
        }
      }
    },
    "/customer/{customerId}/group": {
      "get": {
        "tags": [
          "/group"
        ],
        "summary": "List Group",
        "description": "Returns the group hierarchy starting from the root node.",
        "operationId": "getAllGroups",
        "responses": {
          "200": {
            "description": "List of Groups visible to request context with counts of drivers and vehicles",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupSearchResultDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "/group"
        ],
        "summary": "Add Group",
        "description": "POST request to add a new group. The identifier for the newly added group is included in the JSON object returned as the response. The request will fail when the group name contains illegal characters. The details for the location category in a JSON object included in the HTTP body. Ensure you set the content-type of the request body to \"application/json;charset=UTF-8\".",
        "operationId": "createGroup",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/GroupQueryDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Newly created group",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GroupDto"
                }
              }
            }
          },
          "400": {
            "description": "When name is blank or size name does not fit. When size parentId does not fit or it does not match pattern or it isn't visible for user.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "/group"
        ],
        "summary": "Update Group",
        "description": "PUT request to update the group that matches the {id} in the JSON object included in the HTTP body. This is a partial update and only those details specified in the JSON body will be updated. The request will fail when the updated group name contains illegal characters. The details for the group to update are in a JSON object included in the HTTP body. Ensure you set the content-type of the request body to \"application/json;charset=UTF-8\".",
        "operationId": "updateGroup",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/GroupDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated group.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GroupDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. When id is incorrect and group is not visible to user or is blank or doesn't fit for selected size. When name doesn't fit for selected size. When parentId is not visible to user. When personIds or vehicleIds are not visible to user",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict message, when group name is already taken by another group or when parentId is ID of group which is currently one of group descendants.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/group/{nodeId}": {
      "delete": {
        "tags": [
          "/group"
        ],
        "summary": "Delete Group",
        "description": "DELETE request to delete the group that matches the {groupId}.",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "description": "ID of group to be deleted",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - group has been deleted"
          },
          "400": {
            "description": "When group to be deleted is not visible to user. When group is customer (root) node or it is not allowed to be deleted.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          },
          "409": {
            "description": "When group contains any person or vehicle or it has children nodes.",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorDto"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/location/current": {
      "get": {
        "tags": [
          "/location"
        ],
        "summary": "List Location",
        "description": "Returns the location (points of interest) matching the specified parameters. If no parameters are specified, then all locations are returned. If there are more than 50 locations, then by default only the first 50 locations are returned. To view details of the other locations you will need to specify values for pageSize and pageIndex.",
        "operationId": "getCurrentPlaces",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Location name search string. This is a case insensitive partial match. A location will match if the specified name is found anywhere in the location name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Location address search string. This is a case insensitive partial match. A location will match if the specified address is found anywhere in formatedAddress.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "A location category name. This is a case sensitive exact match search.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Location reference search string. This is a case insensitive partial match. A location will match if the specified reference is found anywhere in reference.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "description": "Location phone number search string. This is a partial match. A location will match",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Specifies the pagination page index. Pages are zero indexed, i.e. the first page has an index value of zero.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specifies the number of items to include on a page. Must be specified if pageIndex has been specified.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationSearchResultDto"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/location": {
      "post": {
        "tags": [
          "/location"
        ],
        "summary": "Add Location",
        "description": "POST request to add a new location with a geo-fence boundary that can be either CIRCULAR or POLYGON. There cannot be an existing location with the same name as the location being created. The maximum number of POI that can be created in your account is limited based on the number of vehicles in your fleet. ● If your fleet size is less than 1,000 then you can create up to 250,000 locations. ● If your fleet size is more than 1,000, then the maximum is reduced on a sliding scale depending on the number of vehicles in your fleet. The address for the location can be specified as either: ● longitude and latitude coordinates An address lookup is done to determine values for roadNumber, road, city, postcode and country. The formattedAddress is constructed as a comma separated set of values from roadNumber, road, city, postcode and country. ● roadNumber, road, city, postcode, country Values for city, postcode and country are mandatory and must be included in the input JSON object. The formattedAddress is constructed as a comma separated set of values from roadNumber, road, city, postcode and country. A lookup is done to determine the longitude and latitude coordinates. If both an address and longitude/latitude values are specified, then no check is performed to validate that the address matches the longitude/latitude values. The geofence for the location can be specified as either: ● radius A geofence for the location is a circle. The radius for the circle must be between 0.001 and 1. ● polygon The geofence for the location is a polygon which is specified as an array of longitude and latitude pairs. There must be at least three longitude and latitude pairs specified. The geofence boundary is closed by automatically linking the first longitude and latitude pair to the last longitude and latitude pair specified. The geofence for a location can overlap the geofence for another location. The geofence for this location can overlap up to 5 locations. The details for the new location are sent as a JSON object included in the HTTP body. Ensure you have set the content-type of the request body to \"application/json;charset=UTF-8\".",
        "operationId": "createLocation",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "/location"
        ],
        "summary": "Update Location",
        "description": "PUT request to update location details. The identifier for the location to be updated is included in the JSON body. This is a partial update and only those details specified in the JSON body will be updated. The updated address for the location can be specified as just the longitude and latitude coordinates or an address (roadNumber, road, city, postcode, country). The type of a location can be updated from a circle to a polygon or from a polygon to a circle, by specifying the the geofence for the location as either: ● radius A geofence for the location is a circle. The radius for the circle must be between 0.001 and 1. ● polygon The geofence for the location is a polygon which is specified as an array of longitude and latitude pairs. There must be at least three longitude and latitude pairs specified. The geofence boundary is closed by automatically linking the first longitude and latitude pair to the last longitude and latitude pair specified. The geofence for a location can overlap the geofence for another location. The geofence for this location can overlap up to 5 locations. The location details are in a JSON object included in the HTTP body. Ensure you have set the content-type of the request body to \"application/json;charset=UTF-8\". JSON object structure for the address specified as longitude and latitude:",
        "operationId": "updateLocation",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationDto"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/location/{placeId}": {
      "delete": {
        "tags": [
          "/location"
        ],
        "summary": "Delete Location",
        "description": "DELETE request to delete a location that matches the {locationId}.",
        "operationId": "deletePlace",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "placeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/customer/{customerId}/location/category": {
      "get": {
        "tags": [
          "/location/category"
        ],
        "summary": "List Location Category",
        "description": "Returns details for all location categories. If a location category identifier is specified, then only details of the specified location category are returned.",
        "operationId": "getAllCategories",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationCategoryWithLocationsCountDto"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "/location/category"
        ],
        "summary": "Add or update Location Category",
        "description": "PUT request to add a new location category. The identifier for the newly added location category is included in the JSON object returned as the response or update the location category that matches the {id} in the JSON object included in the HTTP body. The details for the location category in a JSON object included in the HTTP body. Ensure you set the content-type of the request body to \"application/json;charset=UTF-8\".",
        "operationId": "createOrUpdateCategory",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationCategoryDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationCategoryDto"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/location/category/{categoryId}": {
      "get": {
        "tags": [
          "/location/category"
        ],
        "summary": "Get Location Category",
        "description": "Returns details for a specific location category.",
        "operationId": "getOneCategory",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationCategoryDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "/location/category"
        ],
        "summary": "Delete Location Category",
        "description": "DELETE request to delete the location category that matches the {categoryId}.",
        "operationId": "deleteCategory",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/customer/{customerId}/vehicle": {
      "get": {
        "tags": [
          "/vehicle"
        ],
        "summary": "List Vehicle",
        "description": "Returns the registration, group and current odometer reading for a vehicle. The odometer reading is in kilometres. If no parameters are specified, then details for all vehicles are returned. Input parameters that can be specified are: ● groupIds - all vehicles in the specified groups are included in the output. ● vehicleIds - only the specified vehicles are included in the output. ● name - only the vehicle with the specified name is included in the output. Connect API Reference / Version 1.39 / 51 / CLASSIFICATION : MCF-Internal Only one of vehicleIds, groupIds or name can be specified as an input parameter, an error is returned if more than one parameter is specified.",
        "operationId": "searchVehicles",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleIds",
            "in": "query",
            "description": "Comma separated list of vehicle identifiers (alphanumeric).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "groupIds",
            "in": "query",
            "description": "Comma separated list of group identifiers (alphanumeric).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Friendly name of a vehicle",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Specifies the pagination page index. Pages are zero indexed, i.e. the first page has an index value of zero.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specifies the number of items to include on a page. Must be specified if pageIndex has been specified.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicles were successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSearchResultWithPaginationDto"
                }
              }
            }
          },
          "400": {
            "description": "Missing validation on parameters."
          }
        }
      }
    },
    "/customer/{customerId}/vehicle/{vehicleId}": {
      "put": {
        "tags": [
          "/vehicle"
        ],
        "summary": "Update Vehicle",
        "description": "PUT request to update the details for an existing vehicle. This is a partial update and only those values specified will be updated. The update details for the vehicle are in a JSON object included in the HTTP body. Ensure you have set the content-type of the request body to \"application/json;charset=UTF-8\".",
        "operationId": "updateVehicle",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "updated asset with correct values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleDto"
                }
              }
            }
          },
          "400": {
            "description": "Message related to validation"
          }
        }
      }
    },
    "/customer/{customerId}/vehicle/nearest": {
      "get": {
        "tags": [
          "/vehicle"
        ],
        "summary": "Find Nearest Vehicles",
        "description": "Find vehicles nearest to a specified location or coordinate within a given radius.",
        "operationId": "findNearestVehicles",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearest vehicles found successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NearestVehiclesSearchResultDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customerId}/vehicle/serviceDate": {
      "get": {
        "tags": [
          "/vehicle"
        ],
        "summary": "Service Due Date",
        "description": "Returns the service due date for a vehicle. If no parameters are specified, then details for all vehicles with a service due date are returned. If groupId is specified, then all vehicles in the specified group are included in the output. If vehicleId is specified, then only the specified vehicle is included in the output. Either vehicleId or groupId can be specified as an input parameter, an error is returned if both are specified. If startDate is specified, then only those vehicles where the service due date is on or after the specified date are returned. If endDate is specified, then only those vehicles where the service due date is on or before the specified end date are returned. If both startDate and endDate are specified, then endDate cannot be before startDate. If there are more than 20 vehicles to return, then by default only the first 20 vehicles are returned. To view details of the other vehicles you will need to specify values for pageSize and pageIndex.",
        "operationId": "searchVehiclesWithServiceDate",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identifier (alphanumeric) of a vehicle."
          },
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identifier (alphanumeric) of a group."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Earliest service due date, in UTC, in format of YYYY-MM-DDThh:mm:ss"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Latest service due date, in UTC, in format of YYYY-MM-DDThh:mm:ss"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Current page index (zero-based)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSearchResultWithServiceDateWithPaginationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/customer/{customerId}/vehicle/faults": {
      "get": {
        "tags": [
          "/vehicle"
        ],
        "summary": "Vehicle Faults",
        "description": "Returns the faults on a vehicle. If no parameters are specified, then only vehicles with an active fault are returned. An active fault has no endDate. If groupId is specified, then all vehicles in the specified group are included in the output. If vehicleId is specified, then only the specified vehicle is included in the output. Either vehicleId or groupId can be specified as an input parameter, an error is returned if both are specified. If startDate is specified, then only those vehicles where the fault was detected on or after the specified date are returned. If endDate is not specified, then the startDate cannot be more than 90 days before today's date. If endDate is specified then startDate must also be specified. endDate cannot be before startDate and the date range between startDate and endDate cannot be more than 90 days. If there are more than 20 vehicles to return, then by default only the first 20 vehicles are returned. To view details of the other vehicles you will need to specify values for pageSize and pageIndex.",
        "operationId": "searchVehiclesWithFaults",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identifier (alphanumeric) of a vehicle."
          },
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identifier (alphanumeric) of a group."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Earliest service due date, in UTC, in format of YYYY-MM-DDThh:mm:ss"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Latest service due date, in UTC, in format of YYYY-MM-DDThh:mm:ss"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Current page index (zero-based)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSearchResultWithFaultsWithPaginationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/customer/{customerId}/fuelEvents/fuelTransactions": {
      "get": {
        "tags": [
          "/fuelEvents"
        ],
        "summary": "Fuel Card Transactions",
        "description": "Returns details of the fuel card transaction where the transaction occurred within the specified period. The value specified for the endDate cannot be before startDate. Either vehicleId or groupId must be specified. If vehicleId is specified, then transactions for the specified vehicle are included in the output. If groupId is specified, then the details for all vehicles in the specified group are included in the output. Either vehicleId or groupId can be specified as an input parameter, an error is returned if both are specified. If IncludeUnmatchedVehicles is set to true, then transactions not matched to a vehicle registered in Connect will be included in the output response. If a value is not specified for both IncludeMatchedVehicles and for IncludeUnmatchedVehicles, then only matched transactions will be included in the response. If there are more than 20 transaction events to return, then by default only the first 20 transaction events are returned. To view details of the other transaction events you will need to specify values for pageSize and pageIndex.",
        "operationId": "findFuelTransactionsForVehicles",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identifier (alphanumeric) of a vehicle."
          },
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Identifier (alphanumeric) of a group."
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The start date and time for the period, in UTC, in the format of YYYY-MM-DDThh:mm:ss"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "The end date and time for the period, in UTC, in the format of YYYY-MM-DDThh:mm:ss"
          },
          {
            "name": "includeUnmatchedVehicles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to return fuel transactions that were not matched to a vehicle. If not specified, defaults to false, so unmatched fuel transactions are not included in the response."
          },
          {
            "name": "includeMatchedVehicles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Set to true to include fuel transactions that were matched to a vehicle. If not specified, defaults to true, so matched fuel transactions are included in the response."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Specifies the number of items to include on a page. Must be specified if pageIndex has been specified. If not specified, then will default to a pageSize of 20."
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Specifies the pagination page index. Pages are zero indexed, i.e. the first page has an index value of zero. If not specified, then will default to a pageIndex of 0."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelTransactionWithPaginationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/customer/{customerId}/businessTravel/getVehicleDetails": {
      "get": {
        "tags": [
          "/businessTravel"
        ],
        "summary": "Business Travel Vehicle Journey Details",
        "description": "Returns detailed business travel journey information for specified vehicles within a date range. Provides comprehensive journey data including vehicle and driver information, journey classification, location data, and tracking metrics. Journeys must be submitted for business purposes and can be classified as business, private, or journey between sites. Maximum date range is 31 days and up to 50 asset-days can be processed at once.",
        "operationId": "getVehicleDetails",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxAndExpenseJourneyDetailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation - detailed business travel journey information returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TaxAndExpenseJourneyDetailResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters or date range constraints violated"
          },
          "404": {
            "description": "Resource not found - specified vehicles or customer not found"
          }
        }
      }
    },
    "/customer/{customerId}/businessTravel/getTaxAndExpenseJourneySummaryVehicle": {
      "get": {
        "tags": [
          "/businessTravel"
        ],
        "summary": "Business Travel Vehicle Journey Summary",
        "description": "Returns business travel journey summary information for vehicles within a specified date range. Provides aggregated journey data including total distances by journey classification (Business, Private, Journey Between Sites). Supports pagination and filtering by vehicle groups. Used for tax reporting and expense management with journey classification totals.",
        "operationId": "getTaxAndExpenseJourneySummaryVehicle",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxAndExpenseJourneySummaryVehicleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation - vehicle journey summary returned with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxAndExpenseManagerSummaryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid date range or pagination parameters"
          },
          "404": {
            "description": "Resource not found - specified customer or vehicle groups not found"
          }
        }
      }
    },
    "/customer/{customerId}/businessTravel/getTaxAndExpenseJourneySummaryDriver": {
      "get": {
        "tags": [
          "/businessTravel"
        ],
        "summary": "Business Travel Driver Journey Summary",
        "description": "Returns business travel journey summary information for drivers within a specified date range. Provides aggregated journey data including total distances by journey classification from a driver perspective. Supports pagination and filtering by driver groups. Essential for driver-based expense reporting and tax documentation.",
        "operationId": "getTaxAndExpenseJourneySummaryDriver",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxAndExpenseJourneySummaryDriverRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation - driver journey summary returned with pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxAndExpenseManagerSummaryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid date range or pagination parameters"
          },
          "404": {
            "description": "Resource not found - specified customer or driver groups not found"
          }
        }
      }
    },
    "/customer/{customerId}/businessTravel/detail/vehicle": {
      "get": {
        "tags": [
          "/businessTravel"
        ],
        "summary": "Vehicle Detailed Business Travel",
        "description": "Returns detailed business travel information for a vehicle for a journey that has been submitted and where the journey started in the period. The end date of the journey does not have to be within the period. No details are returned for journeys that have not been classified and submitted by the driver. Either vehicleIds or groupId must be specified as an input parameter. If groupId is specified, then the business travel for all vehicles in the specified group are included in the output. Asset Day Limit: The asset day limit on this endpoint is 50 asset days. You will receive an HTTP status code of 400 (Bad input parameters) and no details will be returned if you exceed this restriction.",
        "operationId": "getVehicleDetails",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxAndExpenseJourneyDetailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithPaginationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/customer/{customerId}/businessTravel/detail/driver": {
      "get": {
        "tags": [
          "/businessTravel"
        ],
        "summary": "Driver Detailed Business Travel",
        "description": "Returns detailed business travel information for a driver for a journey that has been classified where the journey started in the period. The end date of the journey does not have to be within the period. No details are returned for journeys that have not been classified and submitted by the driver. Either driverIds or groupId must be specified as an input parameter. If groupId is specified, then the business travel for all drivers in the specified group are included in the output. Asset Day Limit: The asset day limit on this endpoint is 50 asset days. You will receive an HTTP status code of 400 (Bad input parameters) and no details will be returned if you exceed this restriction.",
        "operationId": "getDriverDetails",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxAndExpenseJourneyDetailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithPaginationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/customer/{customerId}/businessTravel/summary/vehicle": {
      "get": {
        "tags": [
          "/businessTravel"
        ],
        "summary": "Vehicle Business Travel",
        "description": "Returns summarised business travel information for a vehicle for all journeys where the journey started in the period. The end date of the journey does not have to be within the period. If vehicleIds or groupId is not specified, that details for all vehicles are returned. If groupId is specified, then the business travel for all vehicles in the specified group are included in the output. Either vehicleIds or groupId can be specified as an input parameter, an error is returned if both are specified.",
        "operationId": "getTaxAndExpenseJourneySummaryVehicle",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxAndExpenseJourneySummaryVehicleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxAndExpenseManagerSummaryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/customer/{customerId}/businessTravel/summary/driver": {
      "get": {
        "tags": [
          "/businessTravel"
        ],
        "summary": "Driver Business Travel",
        "description": "Returns summarised business travel information for a driver for all journeys where the journey started in the period. The end date of the journey does not have to be within the period. If driverIds or groupId is not specified, then details for all drivers are returned. If groupId is specified, then the business travel for all drivers in the specified group are included in the output. Either driverIds or groupId can be specified as an input parameter, an error is returned if both are specified.",
        "operationId": "getTaxAndExpenseJourneySummaryDriver",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxAndExpenseJourneySummaryDriverRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxAndExpenseManagerSummaryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/customer/{customerId}/alert/history/vehicle": {
      "get": {
        "tags": [
          "/alert"
        ],
        "summary": "Vehicle Alert History",
        "description": "Returns details of alerts that were triggered for a vehicle in the specified period. The value specified for the endDate cannot be before startDate and the period cannot be more than 7 days. Either vehicleId or groupId must be specified. If vehicleId is specified, then only alerts for the specified vehicle are included in the output. If groupId is specified, then alerts that were triggered for all vehicles in the specified group are included in the output. Either vehicleId or groupId can be specified as an input parameter, an error is returned if both are specified. If there are more than 100 triggered alerts that match the search criteria, then by default only the first 100 triggered alerts are returned. To view details of the other alerts you will need to specify values for pageSize and pageIndex.",
        "operationId": "getVehicleAlertHistory",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertAssetSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithPaginationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/customer/{customerId}/alert/history/driver": {
      "get": {
        "tags": [
          "/alert"
        ],
        "summary": "Driver Alert History",
        "description": "Returns details of alerts that were triggered for a driver in the specified period. The value specified for the endDate cannot be before startDate and the period cannot be more than 7 days. Either driverId or groupId must be specified. If driverId is specified, then only alerts for the specified driver are included in the output. If groupId is specified, then alerts that were triggered for all drivers in the specified group are included in the output. Either driverId or groupId can be specified as an input parameter, an error is returned if both are specified. If there are more than 100 triggered alerts that match the search criteria, then by default only the first 100 triggered alerts are returned. To view details of the other alerts you will need to specify values for pageSize and pageIndex.",
        "operationId": "getPersonAlertHistory",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertPersonSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithPaginationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad input parameters"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      }
    },
    "/customer/{customerId}/driver": {
      "get": {
        "tags": [
          "/driver"
        ],
        "summary": "List Driver",
        "description": "Returns details for all drivers and the group they have been assigned to.",
        "operationId": "findDrivers",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Drivers were successfully returned or empty if none of drivers fulfill criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverSearchResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Missing validation such as groupIds."
          }
        }
      },
      "post": {
        "tags": [
          "/driver"
        ],
        "summary": "Add Driver",
        "description": "POST request to add a new driver. When adding a new driver, the identifier for the newly added driver is included in the JSON object returned as the response. The details for the driver are in a JSON object included in the HTTP body. Ensure you have set the content-type of the request body to \"application/json;charset=UTF-8\".",
        "operationId": "createDriver",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DriverDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Driver was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverDto"
                }
              }
            }
          },
          "400": {
            "description": "Missing validation such as groupIds."
          }
        }
      }
    },
    "/customer/{customerId}/driver/{driverId}": {
      "get": {
        "tags": [
          "/driver"
        ],
        "summary": "List Driver Details",
        "description": "Returns details for a driver including their default vehicle.",
        "operationId": "getDriver",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Driver details were successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverDto"
                }
              }
            }
          },
          "400": {
            "description": "Missing validation on parameters."
          },
          "404": {
            "description": "Driver not found."
          }
        }
      },
      "put": {
        "tags": [
          "/driver"
        ],
        "summary": "Update Driver",
        "description": "PUT request to update the details for an existing driver. This is a partial update and only those values specified will be updated. The update details for the driver are in a JSON object included in the HTTP body. Ensure you have set the content-type of the request body to \"application/json;charset=UTF-8\".",
        "operationId": "updateDriver",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DriverDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Driver was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverDto"
                }
              }
            }
          },
          "400": {
            "description": "Missing validation such as groupIds."
          },
          "404": {
            "description": "Driver not found."
          }
        }
      },
      "delete": {
        "tags": [
          "/driver"
        ],
        "summary": "Delete Driver",
        "description": "DELETE request to delete a driver that matches the {driverId}.",
        "operationId": "deleteDriver",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Driver successfully deleted"
          },
          "404": {
            "description": "Driver not found"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/customer/{customerId}/driver/{driverId}/vehicle/{vehicleId}": {
      "post": {
        "tags": [
          "/driver"
        ],
        "summary": "Set Driver Default Vehicle",
        "description": "POST request to set the default vehicle for a driver to the specified {vehicleId}. An error is returned in the following cases: ● If there is already a default vehicle assigned to the driver; ● If the vehicle is already assigned to be the default vehicle for another driver;",
        "operationId": "linkVehicle",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Driver with vehicle link successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverDto"
                }
              }
            }
          },
          "404": {
            "description": "Driver or vehicle not found"
          },
          "400": {
            "description": "Bad request or validation error"
          }
        }
      }
    },
    "/customer/{customerId}/driver/{driverId}/vehicle": {
      "delete": {
        "tags": [
          "/driver"
        ],
        "summary": "Delete Driver Default Vehicle",
        "description": "DELETE request to delete the default vehicle for a driver. An error is returned in the following cases: ● There is no default vehicle assigned to the driver. ● The {vehicleId} does not match the existing default vehicle for the driver.",
        "operationId": "unlinkDefaultVehicle",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Driver with default vehicle successfully unlinked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverDto"
                }
              }
            }
          },
          "404": {
            "description": "Driver not found"
          },
          "400": {
            "description": "Bad request or validation error"
          }
        }
      }
    },
    "/customer/{customerId}/driver/{driverId}/enableAsUser": {
      "post": {
        "tags": [
          "/driver"
        ],
        "summary": "Enable Driver as a User",
        "description": "POST request to enable a driver as a Connect Web User. You cannot include the password for the new user in the same request as enabling the driver as a user, instead you must use the Set User Password endpoint and include the token from the output response of this endpoint. The generated token will expire if it is not used within 30 days or if a password reset token is requested. If a value for externalIdentifier is specified, then the user will be enabled for SSO and a Connect password cannot be set. The details for the web user are in a JSON object included in the HTTP body. Ensure you have set the content-type of the request body to \"application/json;charset=UTF-8\".",
        "operationId": "enableAsUser",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Driver successfully enabled as a user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCreateResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "Driver not found"
          },
          "400": {
            "description": "Bad request or validation error"
          }
        }
      }
    },
    "/customer/{customerId}/role": {
      "get": {
        "tags": [
          "/role"
        ],
        "summary": "List Role",
        "description": "Returns all roles and the active features for each role.",
        "operationId": "getAll",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Roles successfully returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/customer/{customerId}/role/{roleId}": {
      "get": {
        "tags": [
          "/role"
        ],
        "summary": "List Role Details",
        "description": "Returns details for a single role.",
        "operationId": "getOne",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role details successfully returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Role not found"
          }
        }
      }
    },
    "/customer/{customerId}/user": {
      "get": {
        "tags": ["/user"],
        "summary": "List User",
        "description": "Returns details for all active users. No details are returned for inactive users. If there are more than 50 users, then by default only details for the first 50 users are returned. To view details for the other users you will need to specify values for pageSize and pageIndex.",
        "operationId": "listAllUsers",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
[...]
